@purple: #594F8D;
@purple-lter: rgba(89, 79, 141, 0.8);
//@purple-dker: #53458c;

*, 
*:active,
*:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
	-moz-outline-width: 0;
	//-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-rendering: optimizeLegibility;
	//-webkit-backface-visibility: hidden;
	//-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
}

*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder {
	color: rgba(0,0,0,0.3);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html {
	overflow-y: scroll;
}

body {
	display: block;
	//overflow: hidden;
	height: 100%;
	direction: ltr;
	unicode-bidi: embed;
	&.active {
		overflow: hidden;
	}
	
	@media (min-width: 979px)
	{
		padding-top: 0;
	}

	@media (max-width: 979px)
	{
		padding-top: 0;
		padding-bottom: 0;
	}
	@media (max-width: 767px) 
	{
		display: block;
	}
	
}

a, 
button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.none {
	display: none !important;
}

.block, 
.show {
	display: block;
}

.bold {
	font-weight: bold;
}

a:hover, 
.btn-link:hover, 
.btn-link:active, 
.btn-link:focus {
	text-decoration:none;
}

h1, 
h2, 
h3, 
h4,
.h1,
.h2,
.h3,
.h4 {
	letter-spacing: -0.02em;
	font-style: normal;
}

.status, 
.status-offline {
	font-size: 10px;
	vertical-align: middle;
	color: rgba(0, 0, 0, 0.3);

	&.online {
		color: #57ad68 !important;
	}

	&.away {
		color: #ebeb00 !important;
	}

	&.dnd {
		color: #cc5454 !important;
	}

	&.offline {
		color: #B3B3B1 !important;
	}
}

.disable-pointer-events,
.disable-pointer-events * {
	pointer-events: none;
}
.scroll-cover {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	//pointer-events: auto !important;
	z-index: 10000;
}

#alert_window_container {
	display: inline-block;
	position: relative;
}
.alert-window {
	&.alert-center {
		left: 50%;
		margin-left: -320px;
		.alert {
			display: inline-block !important;
			background: rgba(255, 255, 255, 0.97);
			padding: 12px 25px;
			margin-bottom: 0;
			font-size: 14px;
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),0 0 1px rgba(0, 0, 0, 0.35);
			-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),0 0 1px rgba(0, 0, 0, 0.35);
			-webkit-border-bottom-right-radius: 4px;
			-moz-border-radius-bottomright: 4px;
			border-bottom-right-radius: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-moz-border-radius-bottomleft: 4px;
			border-bottom-left-radius: 4px;
			color: rgba(0, 0, 0, 0.8);
			p {
				display: inline;
				/* float: left; */
				/* margin-right: 15px; */
				position: relative;
				/* clear: right; */
			}
			&.alert-success, 
			&.alert-danger {
				color: #FFF;
			}
			&.alert-success {
				background: #57AD68;
			}
			&.alert-danger {
				background: #CC5454;
			}
		}
	}	
	position: fixed;
	top: 0;
	width: 58%;
	max-width: 640px;
	margin-left: 36%;
	z-index: 99999;
	text-align: center;
	/*
	-webkit-transition: top 0.7s, opacity 0.7s;
	-moz-transition: top 0.7s, opacity 0.7s;
	-ms-transition: top 0.7s, opacity 0.7s;
	-o-transition: top 0.7s, opacity 0.7s;
	transition: top 0.7s, opacity 0.7s;
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;*/
	.alert-dismissable {
		padding-right: 25px;
		.close {
			position: relative;
			float: right;
			clear: both;
			display: inline;
			padding: 0 5px;
			&:hover {
				background: rgba(0, 0, 0, 0);
				color: rgba(255, 255, 255, 0.2);
				opacity: .6;
				padding: 0 5px;
				border-radius: 0;
			}
		}
		&.alert-info {
			.close {
				color: rgba(0, 0, 0, .6);
				&:hover {
					color: rgba(0, 0, 0, 8);
				}
			}
		}
	}
	.alert {
		img {
			float:left;
			padding-right:10px;
		}
	}
}


.a-h {
	cursor: pointer;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	-webkit-transition: .2s all;
	-moz-transition: .2s all;
	-o-transition: .2s all;
	transition: .2s all;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
	height: 40px;
	line-height: 1.755;
	margin: 0 auto;
	.ah-w {
		display: inline-block;
		background: rgba(255, 255, 255, 0.97);
		padding: 12px 25px;
		margin-bottom: 0;
		font-size: 14px;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),0 0 1px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),0 0 1px rgba(0, 0, 0, 0.35);
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-left-radius: 4px;
	}
}

@media (max-width: 760px) {
	.chat-modal {
		width: 100%;
		height: 100%;
		top: 0px !important;
		left: 0px !important;
	}
}

#content{
	-webkit-transition: opacity 150ms linear;
	-moz-transition: opacity 150ms linear;
	-ms-transition: opacity 150ms linear;
	-o-transition: opacity 150ms linear;
	transition: opacity 150ms linear;
	
	padding-top: 56px;
	
	//padding-bottom: 25px;
	
	//overflow: scroll;
	//overflow-x: hidden;
	
	//-webkit-transition: -webkit-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
	//-moz-transition: -moz-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
	//-o-transition: -o-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
	//transition: transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
	
	height: 100%;
	width: 100%;
	
	//top: 0;
	//position: relative;	
	
	> .col-lg-9,  
	> .col-xs-12 {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	&.ajaxifying {
		-moz-opacity: 0.2;
		opacity: 0.2;
		-ms-filter:~"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	}
}

.maintenence-mode {
	a, &:hover {
		color: #FFF;
	}
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #222223 #1C1C1B #121211;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.7),inset 0 0 1px rgba(255, 255, 255, 0.07),inset 0 0 0 rgba(255, 255, 255, 0.15000000000000002);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#31312F),to(#262625));
	background-image: -moz-linear-gradient(top,#31312f,#262625);
	background-image: -webkit-linear-gradient(top,#31312F,#262625);
	background-image: -o-linear-gradient(top,#31312f,#262625);
	background-image: linear-gradient(to bottom,#31312F,#262625);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f731312f',endColorstr='#ff262625',GradientType=0);
	text-align: center;
	padding-top: 7px;
	padding-bottom: 6px;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 0 2px #161616;
	max-height: 36px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 25px;
	padding-right: 35px;
	white-space: nowrap;
	z-index: 100;
}

.registration-blurb-container {
	margin-top: 0;
	padding-bottom: 25px;
	//background: url("images/_o.png") 0 -200px repeat-x,-webkit-linear-gradient(-315deg, #4B4276, #4b5086);
	//background: url("images/_o.png") 0 -200px repeat-x,linear-gradient(45deg, #4B4276, #4b5086);
	height: 100%;
	border: none;
	//-webkit-animation: orbit 140s linear infinite;
	//-moz-animation: orbit 140s linear infinite;
	//animation: orbit 140s linear infinite;
	//border-radius: 2px;
	//-webkit-border-radius: 2px;
	//-moz-border-radius: 2px;
	color: rgba(0,0,0,0.8);
}
.registration-blurb .registration-text {
	margin-top: 25px;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: -0.01em;
	color: rgba(0, 0, 0, 0.6);
}
.registration-blurb .line {
	border-color: rgba(0, 0, 0, 0.1);
}

.form-registration,
.form-login {
	.h4 {
		display: none;
		visibility: hidden;
	}
	.form-control {
		font-size: 18px;
		font-weight: 300;
		&:focus {
			font-weight: 300;
		}
	}
}

@media (max-width: 979px) {
	#content {
		width: 100%;
		//padding-top: 40px;
	}
	.hidden-mobile {
		display: none !important;
	}
}
@media (min-width: 768px) {
	#content {
		width: 100%;
		//padding-top: 40px;
	}
}

.center {
	text-align: center; 
}

.account-form {
	border: 0 none;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
}
.account-form:active, 
.account-form:focus {
	font-weight: bold;
	text-shadow: 0 1px 2px #F7F8F8;
}

@media only screen and (max-width: 768px), 
only screen and (max-device-width: 768px) {
	.alert-window {
		left: 0 !important;
		margin-left: 10% !important;
		width: 80%;
		max-width: none;
	}
	.media {
		.thumb-sm {
			width: 32px;
			height: 32px;
		}
	}
	.media-body {
		.h3 {
			font-size: 22px;
		}
		.topic-stats {
			font-size: 14px !important;
		}
		.text-meta {
			font-size: 14px;
		}
		
	}
}
@media only screen and (max-width: 480px), 
only screen and (max-device-width: 480px) {
	.media {
		.thumb-sm {
			width: 28px;
			height: 28px;
		}
	}
	.media-body {
		.h3 {
			font-size: 20px;
		}
		.topic-stats {
			font-size: 12.5px !important;
		}
		.text-meta {
			font-size: 12.5px;
		}
	}
}

.bitcoin {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.3);
	.bitcoin-address {
		background: #FFF;
		padding: 0;
		border-bottom: 1px solid rgba(222, 222, 220, 0.5);
		font-size: 12px;
		color: rgba(102, 102, 101, 0.65);
		&:hover {
			text-decoration: none;
			border-bottom: 0 none;
			color: rgba(0, 0, 0, 0.6);
		}
	}
}
